body{
    background-color:#46afe3;
    margin: 0;
    padding: 0;
    width: 100%;
    height:3000px;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(hawaii2.jpg);
    background-size: cover;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
}
.page{
    width: 100%;
    background-color:#0005;
    color: black;
}
.page{
    line-height: 35px;
    text-transform: uppercase;
}
.page ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left:300px;
}
.page .menu .site{
    display: inline-block;
    position: relative;
    transition: 0.7s all;
}
.page .menu .site a{
    padding:8px 18px;
    text-decoration:none;
    color:white;
    display: block;
    font-family: Palatino, URW Palladio L,serif;
    font-size: 16px;
}
.site:hover{
     background-color:#232527;
     transform: skewX(20deg);
     animation-direction: alternate;
     animation:skew 1s infinite;
}
 #acc{
    background-color:#232527  ;
}
#sect1{
    padding: 110px;
}
.contenu{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
 p {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 40px;
    font-family: Palatino, URW Palladio L,serif;
    font-weight: 200;
}
.vid video{
    width: 750px;
    height: 450px;
}
#sect2{
    padding-bottom:70px;
    padding-left:110px;
    padding-right: 110px;
}
#sect3{
    padding-bottom:70px;
    padding-left:110px;
    padding-right: 110px;
}
#sect4{
    padding-bottom:70px;
    padding-left:110px;
    padding-right: 110px;
}
.contenu2{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
h2{
    text-align: center;
    font-size: 48px;
}
.imge img{
    width: 750px;
    height: 450px;
}
.img2{
    height: 48px;
    float: left;
    margin: 1px 5px;
}
.galerie{
    width: 1000px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.galerie .box{
    position: relative;
    width: 300px;
    height: 300px;
    background: #D1942A;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}
.galerie .box .imgbox{
    position: relative;
    overflow: hidden;
}
.galerie .box .imgbox img{
    max-width: 100%;
    height: 300px;
    transition: transform 2s;
}
.galerie .box:hover .imgbox img{
    transform: scale(1.2);
}
footer{
    background: #D1942A;
    width: 100%;
    height: 100px;
}

